/* ESTILOS DEL COMPONENTE NAVBAR */

.navbar {
  background-color: var(--main-bg);
  height: 60px;
  z-index: 1030;
}

.logoPlaceholder {
  color: var(--text-color);
  font-weight: bold;
  max-width: 45px;
  margin-top: 5px;
  transition: filter 0.5s ease;
}

/* Efecto neón */
.logoPlaceholder:hover {
  filter: drop-shadow(0 0 5px var(--purple-extra)) 
          drop-shadow(0 0 10px var(--purple-extra))
          drop-shadow(0 0 15px var(--purple-extra));
}

.icon {
  width: 20px;
  height: 20px;
  color: var(--text-color);
  transition: color 0.7s ease;
}

.icon:hover {
  color: var(--purple-secondary);
}


/* Ajustes de responsive */
@media (max-width: 768px) {
  .logo-logoPlaceholder {
    max-width: 30px;
  }
}


.arrowUp {
  position: absolute;
  top: -10px;
  left: 85%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid #111;
}

.userDropdown {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #111;
  border: 1px solid var(--purple-extra);
  border-radius: 10px;
  padding: 12px;
  min-width: 200px;
  box-shadow: 0 0 10px var(--purple-extra);
  z-index: 1050;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.userName {
  font-weight: bold;
  color: var(--text-color);
  font-size: 1rem;
  margin-bottom: 0;
}

.userEmail {
  color: var(--text-color);
  font-size: 0.875rem;
  margin-bottom: 10px;
}

.userButton {
  background-color: #222;
  color: var(--purple-secondary);
  border: 1px solid var(--purple-secondary);
  border-radius: 5px;
  padding: 6px 10px;
  font-size: 0.85rem;
  transition: background-color 0.3s, color 0.3s;
}

.userButton:hover {
  background-color: var(--purple-secondary);
  color: #fff;
}

/* Ícono activo */
.iconActive {
  box-shadow: 0 0 10px var(--purple-extra);
  border: 1px solid var(--purple-extra);
}