.animatedUnderline {
  display: inline-block;
  position: relative;
  color: #fff;
  cursor: pointer;
}

.animatedUnderline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px; /* distancia entre el texto y la línea */
  width: 100%;
  height: 2px;
  background-color: var(--tekhelet);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.6s ease;
}

.animatedUnderline:hover::after {
  transform: scaleX(1);
}