:root {
  --main-bg: #000000;
  --secondary-bg: #1a1a1a;
  --text-color: #ffffff;
  --body-bg: #121212;
  --purple-main: #7355ce;
  --purple-secondary: #8365ee;
  --purple-extra: #5335ae;
}


.customTable thead th {
  background-color: var(--purple-main);
  color: var(--text-color);
}

.customTable td,
.customTable th {
  vertical-align: middle;
}
