.item-page {
  height: 85vh;
  width: 83vw;
  overflow-y: auto;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: flex-start;
  padding: 2rem;
  border-radius: 10px;
}