.create-product-prices {
  height: 85vh;
  width: 83vw;
  /*width: 90vw; - ASI ESTABA ANTES*/
  overflow-y: auto;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* H1 a la izquierda */
  justify-content: flex-start;
  padding: 2rem;
  border-radius: 10px;
  /*background-color: aqua;*/
  /*transition: background-color 0.3s ease;*/
}