.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(50, 0, 50, 0.164);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

.modalContent {
  background-color: #1c1c2a; /* oscuro */
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(66, 0, 128, 0.452);
  width: 500px;
  max-height: 70vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.modalHeader {
  padding: 1rem;
  border-bottom: 1px solid #444;
}

.modalTitle {
  color: #cfa6ff; /* púrpura claro */
  margin: 0;
}

.modalBody {
  padding: 1rem;
  overflow-y: auto;
  flex: 1;
}

.modalFooter {
  padding: 1rem;
  border-top: 1px solid #444;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.selectButton {
  background-color: #7b2cbf;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s;
}
.selectButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.selectButton:hover:not(:disabled) {
  background-color: #9d4edd;
}

.cancelButton {
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s;
}
.cancelButton:hover {
  background-color: #444;
}