/*.btnBackArrow {
  background: transparent;
  border: none;
  color: var(--purple-main);
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 0;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.btnBackArrow:hover {
  color: var(--purple-extra);
  cursor: pointer;
}

.tagFormDark {
  background-color: #1e1e1e;
  border: 1px solid #2c2c2c;
  box-shadow: 0 0 5px var(--purple-extra);
  width: 100%;
}

.textareaOverflow {
  max-height: 170px;
  resize: none !important;
  overflow: auto;
}

.btnPurpleStyle {
  border-color: var(--purple-extra) !important;
  background-color: var(--purple-secondary) !important;
  color: var(--body-bg) !important;
  transition: background-color 0.7s ease, color 0.7s ease !important;
}

.btnPurpleStyle:hover {
  border-color: var(--purple-extra) !important;
  background-color: var(--purple-extra) !important;
  color: var(--text-color) !important;
}

.btnGreenStyle {
  border-color: var(--green-dark-success) !important;
  background-color: var(--green-dark-success) !important;
  color: var(--text-color) !important;
  transition: background-color 0.7s ease, color 0.7s ease !important;
}

.btnGreenStyle:hover {
  border-color: var(--green-success) !important;
  background-color: var(--green-success) !important;
  color: var(--main-bg) !important;
}*/



/*-------------------------------------------------------*/



.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  background-color: #1c1c2a;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(138, 43, 226, 0.2);
  overflow-y: auto;
  height: 100%;
}

.title {
  color: #d6b3ff;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-align: left;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.formGroup label {
  color: #d6b3ff;
  font-size: 1rem;
  font-weight: 700;
}

.formGroup:has(input:focus) label {
  color: var(--purple-secondary);
}

.formGroup:has(textarea:focus) label {
  color: var(--purple-secondary);
}

.formGroup input,
.formGroup textarea {
  padding: 0.75rem;
  background-color: #2a2a40;
  border: 1px solid #444;
  border-radius: 13px;
  color: #ffffff;
  font-size: 1rem;
  width: 100%;
  transition: border-color 0.3s;
}

.formGroup input:focus,
.formGroup textarea:focus {
  outline: none;
  border-color: var(--purple-extra);
  background-color: rgb(38, 28, 48);
}

.formGroup textarea {
  height: 120px;
  resize: none;
}

.error {
  color: #ff6b6b;
  font-size: 0.9rem;
}

.clientFormButtons {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  align-self: flex-start;
}

.submitBtn {
  background-color: var(--purple-extra);
  color: #ffffff;
  border: 1px transparent solid;
}

.submitBtn:hover {
  background-color: var(--tekhelet);
}

.clearBtn {
  background-color: #962c2c;
  color: var(--white-color);
  border: 1px var(--red-color) solid;
  transition: background 0.8s ease, color 0.8s ease;
}

.clearBtn:hover {
  background-color: var(--red-dark);
  color: var(--white-color);
}

.buttonGroup {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  margin-top: 1.5rem;
}

.badgeOrange {
  background-color: #c2822270; 
  color: var(--white-color);
  font-weight: 600;
  padding: 0.4rem 0.75rem;
  border-radius: 0.5rem;
  font-size: 0.85rem;
  display: inline-flex;
  align-items: center;
}

@media (max-width: 768px) {
  .form {
    padding: 1rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .submitBtn {
    width: 100%;
    text-align: center;
  }

  .buttonGroup {
    flex-direction: column;
    align-items: stretch;
  }

  .buttonGroup button {
    width: 100%;
  }
}
