.grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* dos columnas iguales */
  grid-template-rows: auto; /* la altura se ajusta según contenido */
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  background-color: #1d1d2b;
  border-radius: 10px;
}

/* Timeline ocupa toda la primera fila */
.grid > :first-child {
  grid-column: 1 / -1;
}

/* Los otros dos elementos se acomodan automáticamente en la segunda fila, cada uno en su columna */


@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}